body {
    background-image: url('https://media.vandal.net/i/1280x720/3-2021/202132917341652_1.jpg');
    background-size: cover;
    color: #fff;
    font-family: 'Aton cs';
    text-align: center;
    padding: 20px;
}

h1 {
    color: #000000;
    font-size: 60px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.containerp2 {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: rgb(112, 53, 53);
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;


}

.containerp2 p {
    font-size: 30px;

}
.containerp3 {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: rgb(61, 66, 65);
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;

}
.imagen {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: auto;
}
.imagen2 {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
    height: auto;
}
.text {
    overflow: hidden;
}
.containerp4 {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    color: #000;
}
.menu-toggle {
    position: fixed;
    top: 20px;
    right: px;
    z-index: 1000;
}

.menu-toggle input[type="checkbox"] {
    display: none;
}



.menu-icon {
    display: inline-block;
    cursor: pointer;
}

.menu-icon img {
    width: 80px; 
    height: auto;
    border-radius: 50%; 
    border: 2px solid #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;
}



.menu-icon :hover{
    cursor: pointer;
    transform: scale(1.2);
}



.menu {  
    display: none;
    position: absolute;
    top: 60px; 
    right: 10px; 
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #ff7f50;
}

#toggle:checked ~ .menu {
    display: block; 
}


#toggle:checked + .menu-icon img {
    transform: rotate(90deg); 
}
/*
.containerp3fondo{
    position:relative;
    width: 50%;
    height: 600px;
    background-image: url('https://http2.mlstatic.com/D_NQ_NP_616900-MCO73286229908_122023-O.webp');
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no;
    animation: animacion_imagen 2s steps(1) infinite;
}
@keyframes animacion_imagen {
    0% {
        background-image: url('https://http2.mlstatic.com/D_NQ_NP_616900-MCO73286229908_122023-O.webp');
    }
    10% {
        background-image: url('https://static.wikia.nocookie.net/espokemon/images/6/6b/Pokemon_Edici%C3%B3n_Oro.jpg/revision/latest?cb=20160715092932');
    }

}*/

.container1 {
    position: relative;
    width: 150px;
    height: 300px;
    background-color: #000;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-decoration: none; 
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}
.container1 p {
    color: #000;
    font-family: 'Aton cs';
}

.container1.cont {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.container1.cont1 {
    width: 200px;
    height: 250px;
}
.container1:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#img1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL1uwsWc31ZWswGdahaduPeD7Qsw3mm8PJgA&s');
}

#img2 {
    background-image: url('https://play-lh.googleusercontent.com/ao5M5OolaeqKOk2wFaaIoIxo6YIS5fotAtI19_Vx-712PYU-halC9ylxNz7FB5YQ7Y0');
}

#img3 {
    background-image: url('https://wallpapers.com/images/high/dark-darkrai-pokemon-e0lroxtzi2sjgy12.webp');
}

#img4 {
    background-image: url('https://wallpapers.com/images/high/zoroark-on-dark-red-background-ab8o9wxtzoc0x2qs.webp');
}

#img5 {
    background-image: url('https://moewalls.com/wp-content/uploads/2024/05/pokemon-gengar-thumb-364x205.jpg');
}

#img6 {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/529/285/307/pokemon-minimalism-squirtle-bulbasaur-wallpaper-preview.jpg');
}

#img7 {
    background-image: url('https://occ-0-1723-1722.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABYgh3ukTqYL3hxz4JEs08ph0xxPWVANNKOONxs-fNO59jAbZAzvF8HcN_A1WKz38fIFRgZKR-DlhornLxpZ70liLuzTuGANVOKJi.jpg?r=01f');
}

#img8 {
    background-image: url('https://nintenduo.com/wp-content/uploads/2022/05/Pokemon-Nombres-Perdidos-03.webp');
}

#img9 {
    background-image: url('https://nintenduo.com/wp-content/uploads/2022/05/Pokemon-Home-Cambio-Ataques-01.webp');
}